<div class="footIzq">
    <img class="gourmet" src="imagenes/logo.png" alt="Logo de la empresa">
    <ul>
        <li><a href="">Instagram</a></li>
        <li><a href="">Email</a></li>
        <li><a href="">GitHub</a></li>
        <li><a href="">Linkedin</a></li>
    </ul>
</div>

<div class="footDer">
    <p>Copyright © y todos los derechos  de autor, 2023, reservados a AlpaDev Cordoba, Argentina 2023</p>
    <img class="alpaimg" src="imagenes/alpa.png" alt="Logo de alpa dev">
</div>